* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* Photo by Soumil Kumar from Pexels */
  background: darkslateblue
    url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat center center fixed;
  background-size: cover;
}

body {
  color: beige;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

.container {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  margin: 0 auto;
  padding: 10px;
  /* border: 1px solid brown; */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

#title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

#description {
  text-align: center;
  font-style: italic;
  margin-bottom: 1.5em;
}

#name,
#email,
#number,
#dropdown,
#dropdown2,
textarea,
#submit {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25em;
  font-size: inherit;
  font-family: inherit;
  color: gray;
  border: 1px solid gray;
  margin-bottom: 1.5em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 1em;
}

input[type="checkbox"][value="additional-courses"] {
  margin-bottom: 2em;
}

#submit {
  background: #37af65;
  color: snow;
  border: 1px solid #37af65;
  margin-bottom: 3.5em;
}
